<!--================Login Box Area =================-->
<section class='login_box_area section-margin'>
    <div class='container'>
        <div class='row'>
            <p>Hi!</p>
        </div>
        <div class='row'>
            <p>You recently requested to reset the password for your account on {{url}}.</p>
            <p>We have sent a reset link to your email address, please check your email ({{username}}) to proceed.</p>
            <p>This password reset link is only valid for the next 30 minutes.</p>
            <p>If you do not see the email in your inbox, please check your spam or junk mail folder.</p>
            <p>If you have any questions or need assistance, please feel free to contact us.</p>
            <p>Thanks.</p>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->