<!--================Login Box Area =================-->
<section class='login_box_area section-margin'>
    <div class='container'>
        <div class='row'>
            <h3>Congratulation {{user.fullname}}!</h3>
        </div>
        <div class='row'>
            <p>Your password has been changed successfully. You can
                <a href='/user/login'>login</a>
                now.</p>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->