<!--================Login Box Area =================-->
<section class='login_box_area section-margin'>
    <div class='container'>
        <div class='row'>
            <p class='text-center'>Hi {{user.fullname}}!</p>
        </div>
        <div class='row'>
            <p>Thank you for registering with <b>{{url}}</b>.</p>
            <p>We have sent a verification to your email address, please check your email ({{user.username}}) to
                confirm. Once you have verified your email, you will be able to access all of our services and benefits.</p>
            <p>If you do not see the email in your inbox, please check your spam or junk mail folder.</p>
            <p>If you have any questions or need assistance, please feel free to contact us.</p>
            <p>Best regards.</p>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->