<head>
    <meta charset='utf-8' />
    <title>Password Reset</title>
</head>
<body>
    <h3>Hi {{fullname}},</h3>
    <br />
    <p>You recently requested to reset the password for your {{username}} account. Click the link below to proceed.</p>
    <p><a href='{{confirmationUrl}}'>CLICK HERE</a></p>
    <p>If you did not request a password reset, please ignore this email or reply to let us know. This password reset
        link is only valid for the next 30 minutes.</p>
    <p>Thanks,</p>
</body>