<head>
    <meta charset='utf-8' />
    <title>Email Verification</title>
</head>
<body>
    <h3>Congratulation {{fullname}},</h3>
    <br />
    <p>Thank you for registering with
        <a href='{{url}}'>{{url}}</a>. We are happy to inform you that your account has been successfully created.</p>
    <p>To complete the registration process, please verify your email address by clicking on
        <a href='{{confirmationUrl}}'>this Verification Link</a></p>
    <p>Once you have verified your email, you will be able to access all of our services and benefits.</p>
    <p>If you have any questions or need assistance, please feel free to contact us.</p>
    <p>Best regard.</p>
</body>